.position {
    max-width: 1200px;
    margin: 0 auto 150px auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
}

.logo {
    width: 120px;
    height: auto;
}

.input {
    font-family: inherit;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 1000px;
    border: none;
    background-color: rgb(163, 163, 163);
    color: #ED1D24;
    font-weight: 700;
    width: 340px;
    margin-right: 20px;

    @media only screen and (max-width: 570px) {
        width: 80%;
    }

    &:focus {
        outline: none;
    }
}